livekit
livekit-agents
livekit-plugins-google
livekit-plugins-openai
livekit-plugins-anthropic
livekit-plugins-rime
livekit-plugins-silero
livekit-plugins-deepgram
livekit-plugins-elevenlabs
python-dotenv
python-pptx
Pillow
pypdf
sendgrid
